<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443562001040-ds0g5shncqvsn1v6cfa2pj97edgdhl4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443562001040-ds0g5shncqvsn1v6cfa2pj97edgdhl4l</string>
	<key>API_KEY</key>
	<string>AIzaSyDbA700j-7nMDoi4JJlusKE2QV8sWBnBpw</string>
	<key>GCM_SENDER_ID</key>
	<string>443562001040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gechan.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-d1f4c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-d1f4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443562001040:ios:ceb62bf1af61291aa88e15</string>
</dict>
</plist>